 @model List<FakeSchool.Web.Areas.Aluno.Models.AlunoViewModel>
@{
    ViewData["Title"] = "FakeSchool - Alunos";
}

<div class="card">
    <div class="card-body">
        <a asp-controller="Aluno" asp-action="Create" class="btn btn-sm btn-success mb-3">Cadastrar Aluno</a>
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Status</th>
                    <th>Ano Letivo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center text-secondary">
                            <i>
                                Sem alunos cadastrados.
                            </i>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var aluno in Model)
                    {
                        <tr>
                            <td>@aluno.Nome</td>
                            <td>@aluno.Curso</td>
                            <td>@aluno.Status</td>
                            <td>@aluno.AnoLetivo°</td>
                            <td>
                                <a asp-route-id="@aluno.Id" class="btn btn-sm btn-warning">Details</a>
                                <a asp-controller="Aluno" asp-action="Edit" asp-route-id="@aluno.Id" class="btn btn-sm btn-primary">Edit</a>
                                <a asp-route-id="@aluno.Id" class="btn btn-sm btn-danger">Remove</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>